@use "./layers";
@use "./variables";

@layer clay.theme
{
    :root
    {
        --clay-color-light: #{variables.$color-light};
        --clay-color-dark: #{variables.$color-dark};

        --clay-color-primary: #{variables.$color-primary};

        --clay-ease-duration: #{variables.$ease-duration};
        --clay-ease-function: #{variables.$ease-function};

        --clay-color-text: #000000;

        @media (prefers-color-scheme: light)
        {
            --clay-color-background: var(--clay-color-light);
            --clay-color-text: #000000;
        }
        @media (prefers-color-scheme: dark)
        {
            --clay-color-background: var(--clay-color-dark);
            --clay-color-text: #FFFFFF;
        }
    }
}

@layer clay.base
{
    body
    {
        background-color: var(--clay-color-background);
        color: var(--clay-color-text);
        color-scheme: normal;
        height: 100%;
        font-family: #{variables.$font-family};
        text-align: center;
        transition: background-color var(--clay-ease-duration) var(--clay-ease-function),
                    color var(--clay-ease-duration) var(--clay-ease-function);

        &[light]
        {
            color-scheme: light;
        }
        &[dark]
        {
            color-scheme: dark;
        }
    }
}
